#circle-svg {
    width: 100px;
    height: 100px;
    background: url("../images/full-moon-black-circle_icon-icons.com_64234.svg") no-repeat center center / contain;
    display: inline-block;
}

#google-logo {
    width: 200px;
    height: 100px;
    background: url("https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png") no-repeat center center / contain;
    display: inline-block;
}